:root {
  --main-white: #eee;
  --main-black: #222;
  --main-red: #f88;
  --main-blue: #06f;

  --main-layout-content-height: calc(100vh - 200px);
  --main-layout-nav-width: 200px;
  --main-layout-content-width: 800px;
  --main-nav-height: 400px;

  --main-layout-padding: 32px;
}
